<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pmd.di.ubi.pt.titcherspet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
                  android:theme="@style/GeneralNoTitle">
        </activity>
        <activity android:name=".AdminActivity">
        </activity>
        <activity android:name=".RegistoEducadoraActivity"
                  android:label="@string/register"
                  android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".ListaEditaEducadorasActivity"
                  android:label="@string/teachers"
                  android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".EditaEducadorasActivity"
                  android:label="@string/edit_teacher"
                  android:parentActivityName=".ListaEditaEducadorasActivity">
        </activity>
        <activity android:name=".ListaGestaoEducadorasActivity"
                  android:parentActivityName=".AdminActivity">
        </activity>
        <activity android:name=".ListaGestaoTurmaActivity"
                  android:label="@string/classes"
                  android:parentActivityName=".ListaEditaEducadorasActivity">
        </activity>
        <activity android:name=".ListaGestaoAlunosActivity"
                  android:label="@string/students"
                  android:parentActivityName=".ListaGestaoTurmaActivity">
        </activity>
        <activity android:name=".RegistoTurmaActivity"
                  android:label="@string/register2"
                  android:parentActivityName=".ListaGestaoTurmaActivity">
        </activity>
        <activity android:name=".AlunoActivity"
                  android:parentActivityName=".RegistoTurmaActivity">
        </activity>
        <activity android:name=".RegistoAlunoActivity"
                  android:label="@string/register3"
                  android:parentActivityName=".ListaGestaoAlunosActivity">
        </activity>
        <activity android:name=".EditaAlunoActivity"
                  android:label="@string/edit_student"
                  android:parentActivityName=".AlunoActivity">
        </activity>
        <activity android:name=".NotasAlunoActivity"
                  android:label="@string/info"
                  android:parentActivityName=".AlunoActivity">
        </activity>
        <activity android:name=".EducadoraActivity">
        </activity>
    </application>

</manifest>